<div [class.darkTheme]="ApplyTheme">
  <mat-toolbar color="primary" class="backgroundColor">
    <mat-toolbar-row>
      <nav class="navbar navbar-dark fixed-top">
        <div class="container-fluid">
          <a
            class="navbar-brand"
            [routerLink]="['/dashboard']"
            routerLinkActive="router-link-active"
            >ADMIN</a
          >

          <app-darktheme (darkMode)="changeThemeMode($event)"></app-darktheme>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-end text-bg-dark"
            tabindex="-1"
            id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel"
          >
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
                Welcome {{userName | titlecase}}
              </h5>
              <button
                type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="list-group" id="list-tab" role="tablist">
              <a
                class="list-group-item list-group-item-action"
                id="list-home-list"
                data-toggle="list"
                role="tab"
                aria-controls="userlist"
                >User List</a
              >
              <a
                class="list-group-item list-group-item-action"
                id="list-profile-list"
                data-toggle="list"
                role="tab"
                aria-controls="profile"
                >Profile</a
              >
              <a
                class="list-group-item list-group-item-action"
                id="list-messages-list"
                data-toggle="list"
                role="tab"
                aria-controls="messages"
                >Messages</a
              >
              <a
                class="list-group-item list-group-item-action"
                id="list-settings-list"
                data-toggle="list"
                role="tab"
                aria-controls="settings"
                >Settings</a
              >
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="d-grid nav-item">
                  <button mat-raised-button color="warn" (click)="logout()">
                    LOG OUT
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>
</div>


<div>
    <table class="table backgroundColor">
        <thead>
          <tr>
            <th scope="col">username</th>
            <th scope="col">email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of allUser | paginate: { itemsPerPage: limit, currentPage: p, totalItems: total }">
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
          </tr>
        </tbody>
      </table>
      
      <div class="text-center">
        <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
        <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
      </div>
</div>

